* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 10px;
}

button {
  background: #f5a525;
  border: none;
  box-shadow: none;
  border-radius: 20px;
  padding: 10px 15px;
  overflow: visible;
  cursor: pointer;
  font: inherit;
}
a {
  color: #fff;
  text-decoration: none;
  outline: none;
}
.hidden {
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

ul {
  list-style: none;
}
